
.normal {
  background: #F2A879;
}
.content {
  width: 900px;
  margin: 0 auto;
  line-height: 1.8em;
  p {
    margin-bottom: 6px;
    font-size: 18px;
  }
  h3 {
    margin-top: 30px;
    margin-bottom: 6px;
  }
  ul {
    margin-left: 30px;
  }
  .other {
    margin-top: 30px;
    p {
      font-size: 14px;
    }
  }
  .textBlue {
    color: #1890ff;
  }
  .imgBox {
    margin-top: 30px;
    img {
      width: 98%;
      margin: 0 auto;
    }
  }
}