
.normal {
  /* font-family: Georgia, sans-serif; */
  padding: 15px 20px;
  display: flex;
  .font {
    font-size: 16px;
    font-weight: 500;
  }
  .time_list {
    padding: 10px;
    ul {
      list-style-type: none;
    }
    .msgs> li {
      .color{ 
         font-size: 16px;
         color: #000080;
         font-weight: 600;
      }
    }
   }
  .left {
     width: 250px;
     background: white;
     min-height: 500px;
     .list {
       padding: 8px 8px;
       ul {
        list-style-type: none;
       }
       .news> li{
        display: block;
        background: url('../assets/line_01.png') bottom no-repeat;
        padding: 2px 0 9px 0;
        width: 100%;
        >a {
          color: #2c3237;
          line-height: 26px;
          background: url(../assets/icon_02.gif) 8px 10px no-repeat;
          text-indent: 18px;
          display: block;
          font-size: 14px;
          width: 178px;
          overflow: hidden;
          white-space: nowrap;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
        }
       }
       .msgs>li {
         a {
           color:#0000ff;
         }
       }
     }
     .address {
      text-align: center;
      padding: 8px;
      line-height: 2;
     }
  }
  .middle {
    width: 696px;
    height: 570px;
    background: white;
    padding: 0 18px;
    margin: 0 7px;
    .banner {
      width: 660px;
      height: 280px;
      img {
        height: 280px;
      }
    }
    .introduce{
      padding: 18px 28px 8px 28px;
      font-size: 15px;
      font-weight: 400;
      p {
        margin-bottom: 30px;
        text-indent: 30px;
      }
      p:first-child {
        margin-bottom: 0;
      }
      a {
        color:#000080;
      }
    }
  }
  .right {
    width: 250px;
    background: white;
    min-height: 500px;
    ul {
      list-style-type: none;
     }
    .button_box {
      padding: 12px 0;
      .button_item {
        margin: 8px;
      }
    }
    
    .school {
      padding: 8px 6px;
      text-align: center;
      img {
        width: 200px;
        height: 100px;
      }
    }
  }
};