.footer {
    background: #666;
    border-top: 0px solid #333;
    height: 150px;
    width: 100%;
    margin: auto;
    color: #999;
    font-size: 14px;
    font-family: "微软雅黑";
    .all {
        padding-top: 50px;
    }
    .bottom{
        display: flex;
        justify-content: center;
        >a{
            color: #999;
            text-decoration: none;
        }
    }
}
   
