.normal {
  background: rgb(242, 242, 242);
}
.banner {
  height: 159px;
  background: #1890ff;
  text-align: center;
  .introduce {
    color: #fff;
    line-height: 1.5;
    padding-top: 25px;
    .title {
      font-size: 40px;
    }
    .time {
      font-size: 20px;
    }
  }
}

.title {
  // background: url('../assets/Banner/title.jpg') no-repeat center 0;
  width: 100%;
  background-size: 100% 100%;
  max-height: 350px;
  overflow: hidden;
  min-width: 1200px;
  position: relative;
  display: block;
}
.headernav {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
}

.content {
  min-height: 400px;
  width: 1200px;
  margin: 0 auto;
}
