.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
}

.title {
  height: 300px;
  background: url('../assets/Banner/title.jpg') no-repeat center 0;
  background-size: 100% 300px;
  margin: 0;
}
.headernav {
  width: 100%;
  height: 35px;
  margin: 0 auto;
  color: white;
  .item {
    height: 35px;
  }
  a {
    color: white !important;
  }
}

.content {
  min-height: 500px;
}
