
.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
}

.title {
  height: 220px;
  background: url('http://nsus-static.oss-cn-beijing.aliyuncs.com/title2.jpg') no-repeat center 0;
  background-size: 100% 220px;
  margin: 0;
}
.headernav{
  width: 1200px;
  height: 35px;
  margin:0 auto;
  background: #001529;
}

